## Table of contents
- [Functions](#functions)
    - [Defining a Function](#defining-a-function)
    - [Declaring and Calling a Function](#declaring-and-calling-a-function)
    - [Function without Parameters](#function-without-parameters)
    - [Function Returning a Value - Part 1](#function-returning-a-value---part-1)
    - [Function with Parameters](#function-with-parameters)
    - [Passing Arguments with Key and Value](#passing-arguments-with-key-and-value)
    - [Function Returning a Value - Part 2](#function-returning-a-value---part-2)
    - [Function with Default Parameters](#function-with-default-parameters)
    - [Arbitrary Number of Arguments](#arbitrary-number-of-arguments)
    - [Default and Arbitrary Number of Parameters in Functions](#default-and-arbitrary-number-of-parameters-in-functions)
    - [Function as a Parameter of Another Function](#function-as-a-parameter-of-another-function)

## Functions

So far we have seen many built-in Python functions. In this section, we will focus on custom functions. What is a function? Before we start making functions, let us learn what a function is and why we need them?

### Defining a Function

A function is a reusable block of code or programming statements designed to perform a certain task. To define or declare a function, Python provides the _def_ keyword. The following is the syntax for defining a function. The function block of code is executed only if the function is called or invoked.

### Declaring and Calling a Function

When we make a function, we call it declaring a function. When we start using the it,  we call it *calling* or *invoking* a function. Function can be declared with or without parameters.

```py
# syntax
# Declaring a function
def function_name():
    codes
    codes
# Calling a function
function_name()
```

### Function without Parameters

Function can be declared without parameters.

In [3]:
def test1():
    print('This is  my first python class')

In [4]:
test1()

This is  my first python class

In [8]:
def test2():
    '''This is the function that show about
    my name
    ''' 
    print('My name is Manon')

In [9]:
test2()

My name is Manon

In [10]:
def generate_full_name():
    ''''''
    first_name = 'Manon'
    last_name = 'Ya'
    space = ' '
    full_name = first_name + space + last_name
    print(full_name)

In [11]:
generate_full_name()

Manon Ya

In [49]:
def my_name():
    '''This is the function that shown about 
    my name Manon'''
    print('My name is Manon')

In [50]:
my_name()

My name is Manon

In [51]:
def generate_full_name():
    first_name = 'Manon'
    last_name = 'Ya'
    space = ' '
    full_name = first_name + space + last_name
    print(full_name)

In [52]:
generate_full_name()

Manon Ya

In [2]:
generate_full_name()

Manon Ya

In [13]:
def add_two_numbers ():
    num_one = 2
    num_two = 3
    total = num_one + num_two
    print(total)
add_two_numbers()

5

In [15]:
add_two_numbers()

5

In [17]:
a = add_two_numbers()

5

In [21]:
def print_messages():
    print("Hello!")
    print("Welcome to Python!")
    print("Have a nice day!")

print_messages()

Hello!
Welcome to Python!
Have a nice day!

In [27]:
def print_circle():
    print("   ***   ")
    print(" *     * ")
    print("*       *")
    print(" *     * ")
    print("   ***   ")

print_circle()

   ***
 *     *
*       *
 *     *
   ***

In [22]:
def print_ascii_art():
    print(" /\\_/\\")
    print("( o.o )")
    print(" > ^ <")

print_ascii_art()

 /\_/\
( o.o )
 > ^ <

In [25]:
print_ascii_art()

 /\_/\
( o.o )
 > ^ <

In [28]:
def print_dog():
    print("  / \\__")
    print(" (    @\\___")
    print(" /         O")
    print("/   (_____/")
    print("/_____/   U")

print_dog()

  / \__
 (    @\___
 /         O
/   (_____/
/_____/   U

In [23]:
def simple_calculator():
    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))
    print("Sum:", num1 + num2)
    print("Difference:", num1 - num2)
    print("Product:", num1 * num2)
    print("Quotient:", num1 / num2)

In [29]:
simple_calculator()

Enter first number: 1
Enter second number: 2
Sum: 3.0
Difference: -1.0
Product: 2.0
Quotient: 0.5

In [30]:
def user_menu():
    print("1. Option 1")
    print("2. Option 2")
    print("3. Option 3")
    choice = int(input("Enter your choice: "))
    if choice == 1:
        print("You selected Option 1.")
    elif choice == 2:
        print("You selected Option 2.")
    elif choice == 3:
        print("You selected Option 3.")
    else:
        print("Invalid choice.")

user_menu()

1. Option 1
2. Option 2
3. Option 3
Enter your choice: 1
You selected Option 1.

### Function with Parameters

In a function we can pass different data types(number, string, boolean, list, tuple, dictionary or set) as a parameter

- Single Parameter: If our function takes a parameter we should call our function with an argument

```py
  # syntax
  # Declaring a function
  def function_name(parameter):
    codes
    codes
  # Calling function
  print(function_name(argument))
```

In [47]:
def my_name(name):
    print('Hello world')
    a = ', welcome to Python for Everyone!'
    b = name + a
    print(b)

In [49]:
a = my_name('Manon')

Hello world
Manon, welcome to Python for Everyone!

In [50]:
a

In [51]:
def my_name1(name):
    print('Hello world')
    a = ', welcome to Python for Everyone!'
    message = name + a
    return message

In [55]:
def add_numbers(a, b):
    return a + b

In [57]:
add_numbers(33895635874724523, 45325943723597203452384574236)

45325943723631099088259298759

In [62]:
def subtract_numbers(a, b):
    z = a - b
    return z

In [72]:
a - b

234532288850633

In [59]:
subtract_numbers(34324234325235325, 423523523454235423572398578234)

-423523523454201099338073342909

In [65]:
b = subtract_numbers(234432432, 234532524354252)

In [66]:
b

-234532289921820

In [63]:
a =  subtract_numbers(34352345, 35423532)

In [64]:
a

-1071187

In [60]:
def check_even_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [61]:
check_even_odd(3245235)

'Odd'

In [ ]:
def find_max(numbers):
    max_value = max(numbers)
    return max_value

In [ ]:
numbers_list = [8, 2, 10, 5, 3,4,5, 2,3,1,2,3,4,5,6-3433, 3,
               33432,3243534534,325543252331,134214321,535435234,
               25432,5234452352354231321,324124213421,13214214,324432]
find_max(numbers_list)

In [ ]:
def calculate_average(numbers):
    total = sum(numbers)
    average = total / len(numbers)
    return average

In [68]:
def calculate_age (current_year, birth_year):
    age = current_year - birth_year
    return age

In [69]:
print('Age: ', calculate_age(2021, 1819))

Age:  202

In [78]:
def simple_calculator(num1, num2, operator):
    if operator == "+":
        return num1 + num2
    elif operator == "-":
        return num1 - num2
    elif operator == "*":
        return num1 * num2
    elif operator == "/":
        return num1 / num2
    else:
        return "Invalid operator"

result = simple_calculator(10, 5, "+")
result = simple_calculator(10, 5, "-")
print("Result:", result)

Result: 5

In [75]:
result = simple_calculator(15, 5, "+")
result

20

In [ ]:
def convert_to_minutes(hours, minutes):
    total_minutes = (hours * 60) + minutes
    return total_minutes
    #
hours = 2
minutes = 30
total_minutes = convert_to_minutes(hours, minutes)
print(f"{hours} hours and {minutes} minutes is {total_minutes} minutes.")

In [70]:
def weight_of_object (mass, gravity = 9.81):
    weight = str(mass * gravity)+ ' N' # the value has to be changed to string first
    return weight

In [79]:
weight_of_object(100)

'981.0 N'

In [53]:
a  = my_name1('Manon')

Hello world

In [54]:
a

'Manon, welcome to Python for Everyone!'

In [33]:
my_name('Manon Ya')

'Manon Ya, welcome to Python for Everyone!'

In [35]:
my_name('Cambodia')

'Cambodia, welcome to Python for Everyone!'

In [40]:
def greet(name):
    return f'Hello , {name}!'

In [41]:
greet(1)

'Hello , 1!'

In [42]:
def add_numbers(a, b):
    return a + b

In [ ]:
add_numbers()

In [17]:
def greetings (name):
    message = name + ', welcome to Python for Everyone!'
    return message

print(greetings('Manon'))

def add_ten(num):
    ten = 10
    return num + ten
print(add_ten(90))

def square_number(x):
    return x * x
print(square_number(2))

def area_of_circle (r):
    PI = 3.14
    area = PI * r ** 2
    return area
print(area_of_circle(10))

def sum_of_numbers(n):
    total = 0
    for i in range(n+1):
        total+=i
    print(total)
print(sum_of_numbers(10)) # 55
print(sum_of_numbers(100)) # 5050

Manon, welcome to Python for Everyone!
100
4
314.0
55
None
5050
None

- Two Parameter: A function may or may not have a parameter or parameters. A function may also have two or more parameters. If our function takes parameters we should call it with arguments. Let us check a function with two parameters:

```py
  # syntax
  # Declaring a function
  def function_name(para1, para2):
    codes
    codes
  # Calling function
  print(function_name(arg1, arg2))
```

In [21]:
def generate_full_name (first_name, last_name):
    space = ' '
    full_name = first_name + space + last_name
    return full_name
print('Full Name: ', generate_full_name('Manon','Ya'))

def sum_two_numbers (num_one, num_two):
    sum = num_one + num_two
    return sum
print('Sum of two numbers: ', sum_two_numbers(1, 9))

def calculate_age (current_year, birth_year):
    age = current_year - birth_year
    return age;

print('Age: ', calculate_age(2021, 1819))

def weight_of_object (mass, gravity):
    weight = str(mass * gravity)+ ' N' # the value has to be changed to a string first
    return weight
print('Weight of an object in Newtons: ', weight_of_object(100, 9.81))

Full Name:  Manon Ya
Sum of two numbers:  10
Age:  202
Weight of an object in Newtons:  981.0 N

### Passing Arguments with Key and Value

If we pass the arguments with key and value, the order of the arguments does not matter.

```py
# syntax
# Declaring a function
def function_name(para1, para2):
    codes
    codes
# Calling function
print(function_name(para1 = 'John', para2 = 'Doe')) # the order of arguments does not matter here
```

In [22]:
def print_fullname(firstname, lastname):
    space = ' '
    full_name = firstname  + space + lastname
    print(full_name)
print(print_fullname(firstname = 'Asabeneh', lastname = 'Yetayeh'))

def add_two_numbers (num1, num2):
    total = num1 + num2
    print(total)
print(add_two_numbers(num2 = 3, num1 = 2)) # Order does not matter

Asabeneh Yetayeh
None
5
None

## Function Returning a Value - Part 2

If we do not return a value with a function, then our function is returning _None_ by default. To return a value with a function we use the keyword _return_ followed by the variable we are returning. We can return any kind of data types from a function.

- Returning a string:

In [25]:
def print_name(firstname):
    return firstname
print_name('Manon') # Asabeneh

'Manon'

In [26]:
def print_full_name(firstname, lastname):
    space = ' '
    full_name = firstname  + space + lastname
    return full_name
print_full_name(firstname='Manon', lastname='Ya')

'Manon Ya'

- Returning a number:

In [28]:
def add_two_numbers (num1, num2):
    total = num1 + num2
    return total
print(add_two_numbers(2, 3))

5

In [27]:
def calculate_age (current_year, birth_year):
    age = current_year - birth_year
    return age;
print('Age: ', calculate_age(2019, 1819))

Age:  200

- Returning a boolean:

In [30]:
def is_even (n):
    if n % 2 == 0:
        print('even')
        return True    # return stops further execution of the function, similar to break 
    return False
print(is_even(10)) # True
print(is_even(7)) # False

even
True
False

- Returning a list:

In [31]:
def find_even_numbers(n):
    evens = []
    for i in range(n + 1):
        if i % 2 == 0:
            evens.append(i)
    return evens
print(find_even_numbers(10))

[0, 2, 4, 6, 8, 10]

### Function with Default Parameters

Sometimes we pass default values to parameters, when we invoke the function. If we do not pass arguments when calling the function, their default values will be used.

```py
# syntax
# Declaring a function
def function_name(param = value):
    codes
    codes
# Calling function
function_name()
function_name(arg)
```

In [33]:
def greetings (name = 'Peter'):
    message = name + ', welcome to Python for Everyone!'
    return message
print(greetings())
print(greetings('Manon'))

Peter, welcome to Python for Everyone!
Manon, welcome to Python for Everyone!

In [36]:
def generate_full_name (first_name = 'Manon', last_name = 'YA'):
    space = ' '
    full_name = first_name + space + last_name
    return full_name

In [37]:
print(generate_full_name())
print(generate_full_name('David','Smith'))

Manon YA
David Smith

In [38]:
def calculate_age (birth_year,current_year = 2021):
    age = current_year - birth_year
    return age;
print('Age: ', calculate_age(1821))

Age:  200

In [39]:
def weight_of_object (mass, gravity = 9.81):
    weight = str(mass * gravity)+ ' N' # the value has to be changed to string first
    return weight

In [40]:
print('Weight of an object in Newtons: ', weight_of_object(100)) # 9.81 - average gravity on Earth's surface
print('Weight of an object in Newtons: ', weight_of_object(100, 1.62)) # gravity on the surface of the Moon

Weight of an object in Newtons:  981.0 N
Weight of an object in Newtons:  162.0 N

### Arbitrary Number of Arguments

If we do not know the number of arguments we pass to our function, we can create a function which can take arbitrary number of arguments by adding \* before the parameter name.

```py
# syntax
# Declaring a function
def function_name(*args):
    codes
    codes
# Calling function
function_name(param1, param2, param3,..)
```

In [41]:
def sum_all_nums(*nums):
    total = 0
    for num in nums:
        total += num     # same as total = total + num 
    return total
print(sum_all_nums(2, 3, 5)) # 10

10

### Default and Arbitrary Number of Parameters in Functions

In [42]:
def generate_groups (team,*args):
    print(team)
    for i in args:
        print(i)
print(generate_groups('Team-1','Asabeneh','Brook','David','Eyob'))

Team-1
Asabeneh
Brook
David
Eyob
None

### Function as a Parameter of Another Function

In [43]:
#You can pass functions around as parameters
def square_number (n):
    return n * n
def do_something(f, x):
    return f(x)
print(do_something(square_number, 3)) # 27

9