
# Dictionaries in Python

## Objectives

After completing this lab you will be able to:

*  Create a Dictionary and perform operations on the Dictionary

## Table of Contents
<div class="alert alert-block alert-info" style="margin-top: 20px">
  
1. [What is Dictionaries?](#1)
    
    1.1 [Create a Dictionary and access the elements](#1.1)
</div>

<hr>

<a id="dic"></a>
## Dictionaries

<a id=1></a>
## What are Dictionaries?

A dictionary consists of keys and values. It is helpful to compare a dictionary to a list. Instead of being indexed numerically like a list, dictionaries have keys. These keys are the keys that are used to access values within a dictionary.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsList.png" width="400">

### Dictionary Methods:

1. **dict.keys()** - Returns a list of all the keys in the dictionary.

2. **dict.values()** - Returns a list of all the values in the dictionary.

3. **dict.items()** - Returns a list of key-value pairs (tuples) in the dictionary.

3. **dict.get(key)** - Returns the value associated with the given key. If the key is not found, it returns a default value.

4. **dict.pop(key)** - Removes the key and its associated value from the dictionary and returns the value.

5. **dict.popitem()** - Removes and returns an arbitrary key-value pair from the dictionary.

6. **dict.update(other_dict)** - Updates the dictionary with key-value pairs from another dictionary or iterable.

7. **dict.clear()** - Removes all items from the dictionary.

8. **dict.copy()** - Returns a shallow copy of the dictionary.

9. **dict.fromkeys(keys, value)** - Creates a new dictionary with the specified keys and a common value.
<hr>

### Common Dictionary Functions:

1. **len(dictionary)** - Returns the number of key-value pairs in the dictionary.

2. **key in dictionary** - Checks if a key exists in the dictionary.

3. **key not in dictionary** - Checks if a key does not exist in the dictionary.

4. **sorted(dictionary)** - Returns a sorted list of keys in the dictionary.

5. **max(dictionary)** - Returns the key with the maximum value.

6. **min(dictionary)** - Returns the key with the minimum value.

<a id=1.1></a>
### Create a Dictionary and access the elements

In [ ]:
sample_dict = {'apple': 3, 'banana': 5, 'cherry': 2}

In [11]:
sample_dict

{'apple': 3, 'banana': 5, 'cherry': 2}

In [12]:
numbers = [1, 2, 3,4]
numbers[2]

3

In [13]:
sample_dict['apple']

3

In [14]:
sample_dict['banana']

5

In [15]:
sample_dict['cherry']

2

In [16]:
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

In [17]:
print("Name:", my_dict["name"])
print("Age:", my_dict["age"])
print("City:", my_dict["city"])

Name: John
Age: 30
City: New York

In [18]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [19]:
my_dict.values()

dict_values(['John', 30, 'New York'])

In [20]:
my_dict.items()

dict_items([('name', 'John'), ('age', 30), ('city', 'New York')])

In [48]:
my_dict = {
    "name": ["John", 'Michel', 'Jeck', 'Sucy'],
    'gender':['M', 'M', 'F', 'F'],
    "age":[30, 23, 32, 43],
    "city": ["New York", 'pp', 'sv', 'tk']
}

In [49]:
for key, value in my_dict.items():
    print(f'My keys: {key} my value: {value}.')

My keys: name my value: ['John', 'Michel', 'Jeck', 'Sucy'].
My keys: gender my value: ['M', 'M', 'F', 'F'].
My keys: age my value: [30, 23, 32, 43].
My keys: city my value: ['New York', 'pp', 'sv', 'tk'].

In [50]:
for i in my_dict:
    print(f'My key is: {i}')

My key is: name
My key is: gender
My key is: age
My key is: city

In [34]:
import pandas as pd

In [35]:
df = pd.DataFrame(my_dict)
df

     name gender  age      city
0    John      M   30  New York
1  Michel      M   23        pp
2    Jeck      F   32        sv
3    Sucy      F   43        tk

In [26]:
df.to_csv('sutdents', index=False)
# save file to csv file

In [36]:
# loading data set
df1 = pd.read_csv('sutdents')
df1

     name gender  age      city
0    John      M   30  New York
1  Michel      M   23        pp
2    Jeck      F   32        sv
3    Sucy      F   43        tk

In [40]:
df1.name

0      John
1    Michel
2      Jeck
3      Sucy
Name: name, dtype: object

In [39]:
df1['name']

0      John
1    Michel
2      Jeck
3      Sucy
Name: name, dtype: object

In [38]:
df1.describe()

             age
count   4.000000
mean   32.000000
std     8.286535
min    23.000000
25%    28.250000
50%    31.000000
75%    34.750000
max    43.000000

In [37]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   gender  4 non-null      object
 2   age     4 non-null      int64
 3   city    4 non-null      object
dtypes: int64(1), object(3)
memory usage: 256.0+ bytes

### Exercise

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsStructure.png" width="400">