### Expression And Variables
#### Expressions

<p>Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:</p>

#### Python Arithmetic Operators
- **+:** The addition operator

- **-:** The minus operator.

- **\*:** The multiplication operator.

- **/:** The division operator.

- **\**:** The exponentiation operator.

- **%:** The modulus operator.

In [1]:
45 + 34

79

In [2]:
-3 + 2

-1

In [3]:
3*3

9

In [4]:
35454562248599752852856487528746*3842895484824723527423

136248177181581087202661831239614133459361209231801558

In [5]:
2**3

8

In [6]:
35454562248599752852856487528746**2

1257025984239834763214391546881630988342885261854081430176332516

In [7]:
35454562248599752852856487528746**38

77186411097091234949993099419739043302776803825302710667763085353555887475336401167374762234577694306199350522862895936040430173913188296317890443618769062341676426660247473900969858656258371315628752471445564974550535517380446084765896051651152147834868625686539930712337677211812043984044739914991298071229504860983063791968001298866873280442251753224837197925199528049397793874362070127965896167059126473767328622489052523602227820370089440695079979598389677363416460074318084998289449216049010672271622170135222968433343247139014945247834391032944989744281831488811152702075862180291645355813648841648208731801519049886920203264015262452125848835720645343461301586825788287931096298061283714190126726380906037694622534906463691951248693944216677072638173231751988010502217645198760047291063063224315179197923682108917811971001531611592761862431306460847371901430936845485686108053566999510036904366017279407718968821263963602914272420888683890340398471235284681522873719756977916457998862935196155239633402587120826799283280229843505263311341768658877805798653017786073261442921777592512110520406566030763810161796136123390899823813906051174713330420391229601963065441718453613233355261671899136

In [8]:
(35559393-44555)*335555-3455/345558

11917181465089.99

In [9]:
9%2

1

In [10]:
1/2 * 8 -4 -1/2 * 3

-1.5

In [11]:
9/2

4.5

In [12]:
(25)**(1/2)

5.0

In [13]:
(64)**(1/3)

3.9999999999999996

In [14]:
# Arithmetic Operations in Python
# Integers

print('Addition: ', 1 + 2)        # 3
print('Subtraction: ', 2 - 1)     # 1
print('Multiplication: ', 2 * 3)  # 6
print ('Division: ', 4 / 2)       # 2.0  Division in Python gives floating number
print('Division: ', 6 / 2)        # 3.0         
print('Division: ', 7 / 2)        # 3.5
print('Division without the remainder: ', 7 // 2)   # 3,  gives without the floating number or without the remaining
print ('Division without the remainder: ',7 // 3)   # 2
print('Modulus: ', 3 % 2)         # 1, Gives the remainder
print('Exponentiation: ', 2 ** 3) # 9 it means 2 * 2 * 2

Addition:  3
Subtraction:  1
Multiplication:  6
Division:  2.0
Division:  3.0
Division:  3.5
Division without the remainder:  3
Division without the remainder:  2
Modulus:  1
Exponentiation:  8

### Variable
**Python Variable:** is contrainers that store value. Python is not **Statically typed**.\
We do not need to declare variables before using them or declare their type.

Python Variable Name Rules

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)

Here are some example of valid variable names:

In [ ]:
firstname
lastname
age
country
city
first_name
last_name
capital_city
_if # if we want to use reserved word as a variable
year_2021
year2021
current_year_2021
birth_year
num1
num2

In [ ]:
##Invalid variables names
first-name
first@name
first$name
num-1
1num

In [16]:
age = 16

In [17]:
age

16

In [ ]:
a = 6

In [18]:
a= -6
b = -4

In [19]:
- a - b

10

In [20]:
a* b

24

In [21]:
a = 3432894278524
b =  4348934574847832235.34293275872343

In [23]:
first_name, last_name, country, age, is_married = 'Manon', 'Ya', 'Phnom Penh', 25, False

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Manon Ya Phnom Penh 25 False
First name: Manon
Last name:  Ya
Country:  Phnom Penh
Age:  25
Married:  False

In [24]:
print('First name:', first_name)

First name: Manon

In [25]:
print('Last name: ', last_name)

Last name:  Ya

In [26]:
print('Country: ', country)

Country:  Phnom Penh

In [27]:
print('Age: ', age)

Age:  25

In [28]:
print('Married: ', is_married)

Married:  False

In [29]:
print('this is: ', a)

this is:  3432894278524

In [30]:
print('This is: ', b)

This is:  4.348934574847832e+18

In [31]:
print('this is ', a)
print('This is ', b)
print( "This is (a- b)", a-b)
print('this is (a * b)', a*b)
print('this is (a+b)', a+ b)

this is  3432894278524
This is  4.348934574847832e+18
This is (a- b) -4.3489311419535534e+18
this is (a * b) 1.4929432619670327e+31
this is (a+b) 4.3489380077421107e+18

In [32]:
x = 5
y = 10
z = x + y

area = 0.5 * base * height

In [33]:
b = 3221412895713587483631513
h = 314813956431
area = 0.5 * b * h
print('This is Area of Triangle ', area)

This is Area of Triangle  5.070728694987195e+35

In [34]:
name = 'Manon'
age = 23
print('My name is ', name);
print('My age:', age)
b

My name is  Manon
My age: 23

3221412895713587483631513

In [35]:
print('My name is:', name, 'my age:', age)

My name is: Manon my age: 23

In [36]:
# Declaring the variable at the top first

a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

# I should have used sum instead of total but sum is a built-in function - try to avoid overriding built-in functions
print(total) # if you do not label your print with some string, you never know where the result is coming from
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

5
a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9

In [37]:
print('== Addition, Subtraction, Multiplication, Division, Modulus ==')

# Declaring values and organizing them together
num_one = 3
num_two = 4

# Arithmetic operations
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_one
remainder = num_two % num_one

# Printing values with label
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)

== Addition, Subtraction, Multiplication, Division, Modulus ==
total:  7
difference:  1
product:  12
division:  1.3333333333333333
remainder:  1