### Recall

1. `Integer`: It is a whole number, without a fraction. For example, 1, 7, and 342 are all integers.

2. `Float`: It is a real number that can contain a fractional part. For example, 5.3, 3.14159, and 6.0 are all floats.

3. `String`: Text in between quotes -- either single or double quotes -- is a string. For example, 'ABC', "Coding", 'Python Program'

4. `Boolean`: It represents one of two values: True or False.

5. `None`: It is used to define a null variable.

You can always check the data type of any variable using the `type()` function. The below example shows how to use the type function in python.
```py
print(type(10))
print(type(10.5))
print(type("abc"))

```

In [1]:
print(type(10))
print(type(10.5))
print(type("abc"))

<class 'int'>
<class 'float'>
<class 'str'>

In [2]:
type()

TypeError: type() takes 1 or 3 arguments

In [ ]:
sum
max
min

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: To execute the Python code in the code cell below, click on the cell to select it and press <kbd>Shift</kbd> + <kbd>Enter</kbd>.
</div>
<hr/>

### Table of contents
<a id="toc"></a>
- [Expression and Variables](#expression_and_varaibles)
    - [Expression](#expression)
    - [Variables](#variables)
- [Data Types in Python](#data_types_in_python)
    - [Number](#number)
        - [Integer](#integer)
        - [Float](#float)
        - [Complex Number](#complex_number)

### Expression and Variables
#### Expressions

<p>Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:</p>

#### Python Arithmetic Operators
- **+:** The addition operator

- **-:** The minus operator.

- **\*:** The multiplication operator.

- **/:** The division operator.

- **\**:** The exponentiation operator.

- **%:** The modulus operator.

In [ ]:
45 + 34

In [ ]:
-3 + 2

In [ ]:
3*3

In [ ]:
35454562248599752852856487528746*3842895484824723527423

In [ ]:
2**3

In [ ]:
2*2*2

In [ ]:
35454562248599752852856487528746**2

In [ ]:
35454562248599752852856487528746**38

In [ ]:
(35559393-44555)*335555-3455/345558

In [ ]:
9%2

In [ ]:
1/2 * 8 -4 -1/2 * 3

In [ ]:
9/2

In [ ]:
(25)**(1/2)

In [ ]:
3**(1/3)

In [ ]:
(64)**(1/3)

In [ ]:
print('Addition: ', 1 + 2)
print('Subtraction: ', 2 - 1)

In [ ]:
# Arithmetic Operations in Python
# Integers

print('Addition: ', 1 + 2)        # 3
print('Subtraction: ', 2 - 1)     # 1
print('Multiplication: ', 2 * 3)  # 6
print ('Division: ', 4 / 2)       # 2.0  Division in Python gives floating number
print('Division: ', 6 / 2)        # 3.0         
print('Division: ', 7 / 2)        # 3.5
print('Division without the remainder: ', 7 // 2)   # 3,  gives without the floating number or without the remaining
print ('Division without the remainder: ',7 // 3)   # 2
print('Modulus: ', 3 % 2)         # 1, Gives the remainder
print('Exponentiation: ', 2 ** 3) # 9 it means 2 * 2 * 2

### Variable
**Python Variable:** is contrainers that store value. Python is not **Statically typed**.\
We do not need to declare variables before using them or declare their type.

Python Variable Name Rules

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)

Here are some example of valid variable names:

In [ ]:
firstname
lastname
age
country
city
first_name
last_name
capital_city
_if # if we want to use reserved word as a variable
year_2021
year2021
current_year_2021
birth_year
num1
num2

In [ ]:
##Invalid variables names
first-name
first@name
first$name
num-1
1num

In [ ]:
age = 16

In [ ]:
age

In [ ]:
age = 4
age

In [ ]:
age

In [ ]:
a

In [ ]:
a = 6

In [ ]:
a

In [ ]:
a= -6
b = -4

In [ ]:
- a - b

In [ ]:
a*b

In [ ]:
a = 3432894278524
b =  4348934574847832235.34293275872343

In [ ]:
a

In [3]:
first_name, last_name, country, age, is_married = 'Manon', 'Ya', 'Phnom Penh', 25, False

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Manon Ya Phnom Penh 25 False
First name: Manon
Last name:  Ya
Country:  Phnom Penh
Age:  25
Married:  False

In [4]:
print('First name:', first_name)

First name: Manon

In [5]:
print('Last name: ', last_name)

Last name:  Ya

In [6]:
print('Country: ', country)

Country:  Phnom Penh

In [7]:
print('Age: ', age)

Age:  25

In [8]:
print('Married: ', is_married)

Married:  False

In [14]:
z

15

In [9]:
print('this is: ', a)

NameError: name 'a' is not defined

In [10]:
print('This is: ', b)

NameError: name 'b' is not defined

In [11]:
print('this is ', a)
print('This is ', b)
print( "This is (a- b)", a-b)
print('this is (a * b)', a*b)
print('this is (a+b)', a+ b)

NameError: name 'a' is not defined

In [12]:
x = 5
y = 10
z = x + y

In [13]:
z

15

area = 0.5 * base * height

In [ ]:
b = 3221412895713587483631513
h = 314813956431
area = 0.5 * b * h
print('This is Area of Triangle ', area)

In [ ]:
name = 'Manon'
age = 23
print('My name is ', name);
print('My age:', age)
b

In [ ]:
print('My name is:', name, 'my age:', age)

In [ ]:
# Declaring the variable at the top first

a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

# I should have used sum instead of total but sum is a built-in function - try to avoid overriding built-in functions
print(total) # if you do not label your print with some string, you never know where the result is coming from
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

In [ ]:
print('== Addition, Subtraction, Multiplication, Division, Modulus ==')

# Declaring values and organizing them together
num_one = 3
num_two = 4

# Arithmetic operations
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_one
remainder = num_two % num_one

# Printing values with label
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)