# Python_Strings
## Objectives

After completing this lab you will be able to:

*   Work with Strings
*   Perform operations on String
*   Manipulate Strings using indexing and escape sequences

## Table of contents
- [Strings](#strings)
    - [Creating a String](#creating-a-string)
    - [String Concatenation](#string-concatenation)
    - [Escape Sequences in Strings](#escape-sequences-in-strings)
    - [String formatting](#string-formatting)
      - [Old Style String Formatting (% Operator)](#old-style-string-formatting--operator)
      - [New Style String Formatting (str.format)](#new-style-string-formatting-strformat)
      - [String Interpolation / f-Strings (Python 3.6+)](#string-interpolation--f-strings-python-36)
    - [Python Strings as Sequences of Characters](#python-strings-as-sequences-of-characters)
      - [Unpacking Characters](#unpacking-characters)
      - [Accessing Characters in Strings by Index](#accessing-characters-in-strings-by-index)
      - [Slicing Python Strings](#slicing-python-strings)
      - [Reversing a String](#reversing-a-string)
      - [Skipping Characters While Slicing](#skipping-characters-while-slicing)
    - [String Methods](#string-methods)

<a id='strings'> </a>
## Strings
Text is a string data type. Any data type written as text is a string. Any data under single, double or triple quote are strings. There are different string methods and built-in functions to deal with string data types. To check the length of a string use the len() method.

<a id='creating-a-string'></a>
### Creating a String

In [1]:
letter = 'P'
type(letter)

str

In [2]:
letter

'P'

In [4]:
letter = 'ab  '
letter

'ab  '

In [5]:
len(letter)

4

In [8]:
greeting = 'Hello, World!' 
print(greeting)

Hello, World!

In [7]:
greeting = 'Hello, World!'
print(greeting)

Hello, World!

In [9]:
greeting

'Hello, World!'

In [10]:
greeeting

NameError: name 'greeeting' is not defined

In [11]:
len(greeting)

13

In [2]:
sentence = "I hope you are enjoying with learning python"
sentence

'I hope you are enjoying with learning python'

In [13]:
sentence

'I hope you are enjoying with learning python'

In [14]:
sentence

'I hope you are enjoying with learning python'

In [3]:
print(sentence)
sentence

I hope you are enjoying with learning python

'I hope you are enjoying with learning python'

In [18]:
len(sentence)

44

In [19]:
B = 'In a sample of 100 on-the-job fatalities, 90% of the victims were men'
len(B)

69

Multiline string is created by using triple single (''') or triple double quotes ("""). See the example below.

In [21]:
print('In a sample of 100
on-the-job fatalit



ies, 90% of the vic



tims were men')

SyntaxError: unterminated string literal (detected at line 1) (3475435927.py, line 1)

In [22]:
print('''In a sample of 100
on-the-job fatalities, 90% of the victims were men''')

In a sample of 100
on-the-job fatalities, 90% of the victims were men

<a id='string-concatenation'></a>
### String Concatenation

We can connect strings together. Merging or connecting strings is called concatenation. See the example below:

In [5]:
first_name = 'Manon'
last_name = 'YA'
space = str(2)
full_name= first_name+space+last_name

In [25]:
full_name

'Manon YA'

In [26]:
len(full_name)

8

In [27]:
print(len(first_name))

5

In [12]:
len(last_name)

2

In [13]:
len(full_name)

8

In [28]:
len(first_name) > len(last_name)

True

In [30]:
len(first_name) >= len(last_name)

True

In [31]:
len(first_name) < len(last_name)

False

In [32]:
len(first_name) <= len(last_name)

False

In [33]:
len(first_name) == len(last_name)

False

In [34]:
len(first_name) != len(last_name)

True

<a id='escape-sequences-in-strings'></a>
### Escape Sequences in Strings

In Python and other programming languages \ followed by a character is an escape sequence. Let us see the most common escape characters:

- \n: new line
- \t: Tab means(8 spaces)
- \\\\: Back slash
- \\': Single quote (')
- \\": Double quote (")

Now, let us see the use of the above escape sequences with examples.

In [36]:
print('I love\n\tcambodia')

I love
 	cambodia

In [37]:
print('I love\n        cambodia')

I love
        cambodia

In [38]:
print('In Python there are many ways of formatting strings.\n In this section, we will cover some of them. The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), \ntogether with a format string, \nwhich contains normal')

In Python there are many ways of formatting strings.
 In this section, we will cover some of them. The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list),
together with a format string,
which contains normal

In [39]:
print('In Python there are \tmany\n ways of')

In Python there are 	many
 ways of

In [40]:
print(len('a\ta'))

3

In [41]:
print(len('a       a'))

9

In [42]:
print('I hope everyone is enjoying the Python Challenge.\nAre you ?') # line break
print('Days\tTopics\tExercises') # adding tab space or 4 spaces 
print('Day 1\t5\t5')
print('Day 2\t6\t20')
print('Day 3\t5\t23')
print('Day 4\t1\t35')
print('This is a backslash  symbol (\\)') # To write a backslash
print('In every programming language it starts with \"Hello, World!\"') # to write a double quote inside a single quote

I hope everyone is enjoying the Python Challenge.
Are you ?
Days	Topics	Exercises
Day 1	5	5
Day 2	6	20
Day 3	5	23
Day 4	1	35
This is a backslash  symbol (\)
In every programming language it starts with "Hello, World!"


<a id='string-formatting'></a>
### String formatting

#### Old Style String Formatting (% Operator)

In Python there are many ways of formatting strings. In this section, we will cover some of them.
The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like "%s", "%d", "%f", "%.<small>number of digits</small>f".

- %s - String (or any object with a string representation, like numbers)
- %d - Integers
- %f - Floating point numbers
- "%.<small>number of digits</small>f" - Floating point numbers with fixed precision

In [43]:
first_name = 'Manon'
last_name = 'Ya'
language = 'Python'
formated_string = 'I am %s %s. I teach %s' %(first_name, last_name, language)

In [44]:
formated_string

'I am Manon Ya. I teach Python'

In [45]:
formated_string

'I am Manon Ya. I teach Python'

In [46]:
first_name

'Manon'

In [47]:
last_name

'Ya'

In [48]:
language

'Python'

In [49]:
radius = float(input('Please input the radius:'))

Please input the radius:12.0

In [9]:
import math as m
m.factorial(24)

620448401733239439360000

In [ ]:
4!

In [6]:
4*3*2*1

24

In [7]:
24!

SyntaxError: invalid syntax (2477661039.py, line 1)

In [54]:
m.pi

3.141592653589793

In [51]:
1*2*3*4

24

In [ ]:
3.14

In [10]:
radius = int(input('Please input the radius:'))
pi = m.pi
area = pi * radius ** 2
formated_string = 'The area of circle with a radius %d is %f.' %(radius, area)
formated_string

Please input the radius:232

'The area of circle with a radius 232 is 169093.082987.'

In [41]:
radius = float(input('Please input the radius:'))
pi = 3.14
area = pi * radius ** 2
formated_string = 'The area of circle with a radius %d is %.3f.' %(radius, area)
formated_string

Please input the radius:234

'The area of circle with a radius 234 is 171933.840.'

#### New Style String Formatting (str.format)

This formatting is introduced in Python version 3.

In [57]:
first_name = 'Manon'
last_name = 'Ya'
language = 'Python'
formated_string = 'I am {} {}. I teach {}'.format(first_name, last_name, language)
print(formated_string)

I am Manon Ya. I teach Python

In [ ]:
a = 4
b = 3

print('{} + {} = {}'.format(a, b, a + b))
print('{} - {} = {}'.format(a, b, a - b))
print('{} * {} = {}'.format(a, b, a * b))
print('{} / {} = {:.2f}'.format(a, b, a / b)) # limits it to two digits after decimal
print('{} % {} = {}'.format(a, b, a % b))
print('{} // {} = {}'.format(a, b, a // b))
print('{} ** {} = {}'.format(a, b, a ** b

In [59]:
4//3

1

In [60]:
5//2

2

In [ ]:
radius = 10
pi = 3.14
area = pi * radius ** 2
formated_string = 'The area of a circle with a radius {} is {:.2f}.'.format(radius, area) # 2 digits after decimal
print(formated_string)

#### String Interpolation / f-Strings (Python 3.6+)

Another new string formatting is string interpolation, f-strings. Strings start with f and we can inject the data in their corresponding positions.

In [12]:
print('I love cambodia')

I love cambodia

In [13]:
print(f'I love cambodia{}')

I love cambodia

In [14]:
a = 4
b = 3
d = a + b
print(f'this is (a + b) {a} + {b} = {d}')
print(f'this is {a} - {b} = {a - b}')
print(f'this is {a} * {b} = {a * b}')
print(f'this is {a} / {b} = {a / b:.2f}')
print(f'this is {a} % {b} = {a % b}')
print(f'{a} // {b} = {a // b}')
print(f'{a} ** {b} = {a ** b}')

this is (a + b) 4 + 3 = 7
this is 4 - 3 = 1
this is 4 * 3 = 12
this is 4 / 3 = 1.33
this is 4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

In [15]:
a = 4
b = 3
d = a + b
print(f'this is (a + b) {a} + {b} = {d}')
print(f'this is {a} - {b} = {a - b}')
print(f'this is {a} * {b} = {a * b}')
print(f'this is {a} / {b} = {a / b:.2f}')
print(f'this is {a} % {b} = {a % b}')
print(f'{a} // {b} = {a // b}')
print(f'{a} ** {b} = {a ** b}')

this is (a + b) 4 + 3 = 7
this is 4 - 3 = 1
this is 4 * 3 = 12
this is 4 / 3 = 1.33
this is 4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

In [ ]:
print(f'')

In [48]:
d

7

### Python Strings as Sequences of Characters

Python strings are sequences of characters, and share their basic methods of access with other Python ordered sequences of objects – lists and tuples. The simplest way of extracting single characters from strings (and individual members from any sequence) is to unpack them into corresponding variables.

#### Unpacking Characters

In [63]:
language = 'Python'
a,b,c,d,e,f = language 
print(a) 
print(b) 
print(c) 
print(d)
print(e) 
print(f)

P
y
t
h
o
n

In [64]:
print(a)

P

In [65]:
print(b)

y

### Indexing

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsIndex.png" width="600" align="center">

#### Negative Indexing

We can also use negative indexing with strings:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsNeg.png" width="600" align="center">

In [17]:
language = 'Python'

In [18]:
print(language[0])
print(language[1])

P
y

In [68]:
language = 'Python'
first_letter = language[0]
first_letter

'P'

In [54]:
language[1]

'y'

In [55]:
language[2]

't'

In [69]:
second_letter = language[1]
print(second_letter)

y

In [71]:
last_index = len(language) - 1
last_letter = language[last_index]
print(last_letter)

n

In [ ]:
language = 'Python'
first_letter = language[0]
print(first_letter) 

last_index = len(language) - 1
last_letter = language[last_index]
print(last_letter)


#### Accessing Characters in Strings by Index

In programming counting starts from zero. Therefore the first letter of a string is at zero index and the last letter of a string is the length of a string minus one.

If we want to start from right end we can use negative indexing. -1 is the last index.

In [72]:
language = 'Python'
last_letter = language[-1]
print(last_letter) 
second_last = language[-2]
print(second_last)

n
o

#### Slicing Python Strings

In python we can slice strings into substrings.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsSlice.png" width="600" align="center">

In [19]:
name = 'Michael Jackson'
name[0:4]

'Mich'

In [20]:
name[:4]

'Mich'

In [21]:
name[:9]

'Michael J'

In [57]:
name[0:3]

'Mic'

In [58]:
name[8:12]

'Jack'

In [59]:
name[1:9]

'ichael J'

In [60]:
name[1:5]

'icha'

#### Stride

We can also input a stride value as follows, with the '2' indicating that we are selecting every second variable:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsStride.png" width="600" align="center">

#### Reversing a String

We can easily reverse strings in python.

In [77]:
name[0:15:2]

'McalJcsn'

In [73]:
name[:]

'Michael Jackson'

In [65]:
name[2:]

'chael Jackson'

In [66]:
name[3:]

'hael Jackson'

'McalJcsn'

In [68]:
name[0::2]

'McalJcsn'

In [69]:
name[1:8:2]

'ihe '

In [70]:
name[2:4:2]

'c'

In [71]:
name[1:9:2]

'ihe '

In [72]:
name[1:4:3]

'i'

In [ ]:
name[2:9:2]

In [ ]:
name[::-1]

#### Skipping Characters While Slicing

It is possible to skip characters while slicing by passing step argument to slice method.

<a id='string-methods'></a>
### String Methods

There are many string methods which allow us to format strings. See some of the string methods in the following example: 
```py
upper(), strip(), split(), replace(), find() , more
```
- **string.upper()** and string.lower(): Returns a new string with all characters in uppercase or lowercase, respectively.

In [22]:
my_string = "Hello, World!"
upper_case = my_string.upper()  
lower_case = my_string.lower()

In [ ]:
my_string = "Hello, World!"

In [23]:
my_string.upper()

'HELLO, WORLD!'

In [24]:
my_string.lower()

'hello, world!'

In [79]:
upper_case

'HELLO, WORLD!'

In [80]:
lower_case

'hello, world!'

- **string.strip()**: Returns a new string with leading and trailing whitespace removed.

In [25]:
my_string = "   Hello, World!   "
stripped_string = my_string.strip()  # Returns "Hello, World!"

In [28]:
original_string = "   This is a sample string with leading and trailing spaces.   "
original_string.strip()

'This is a sample string with leading and trailing spaces.'

In [27]:
 my_string.strip()

'Hello, World!'

In [26]:
stripped_string

'Hello, World!'

- **string.split(separator)**: Splits the string into a list of substrings based on the given separator.

In [85]:
my_string = "apple,banana,grape"
my_list = my_string.split(",")  
my_list

['apple', 'banana', 'grape']

In [30]:
my_string = 'apple banana grage'
my_string.split()

['apple', 'banana', 'grage']

In [29]:
my_string = "apple,banana,grape"
my_string.split(',')

['apple', 'banana', 'grape']

- **string.replace(old, new)**: Returns a new string with all occurrences of 'old' replaced by 'new'.

In [ ]:
my_string = "Hello, World!"
new_string = my_string.replace("Hello", "Hi")

- **string.find(substring)**: Returns the index of the first occurrence of the given substring in the string. Returns -1 if not found.

In [ ]:
my_string = "Hello, World!"
index = my_string.find("World")

- **capitalize():** Converts the first character of the string to capital letter

In [ ]:
challenge = 'thirty days of python'
challenge.capitalize()

- **count():** returns occurrences of substring in string, count(substring, start=.., end=..). The start is a starting indexing for counting and end is the last index to count.

- **endswith():** Checks if a string ends with a specified ending

- expandtabs(): Replaces tab character with spaces, default tab size is 8. It takes tab size argument

- find(): Returns the index of the first occurrence of a substring, if not found returns -1

- rfind(): Returns the index of the last occurrence of a substring, if not found returns -1



- format(): formats string into a nicer output  
   More about string formatting check this [link](https://www.programiz.com/python-programming/methods/string/format)

- index(): Returns the lowest index of a substring, additional arguments indicate starting and ending index (default 0 and string length - 1). If the substring is not found it raises a valueError.

In [ ]:
challenge = 'thirty days of python'
sub_string = 'da'
print(challenge.index(sub_string))  # 7
# print(challenge.index(sub_string, 9)) # error

- rindex(): Returns the highest index of a substring, additional arguments indicate starting and ending index (default 0 and string length - 1)

In [ ]:
challenge = 'thirty days of python'
sub_string = 'da'
print(challenge.rindex(sub_string))  # 8
# print(challenge.rindex(sub_string, 9)) # error


- isalnum(): Checks alphanumeric character

In [ ]:
challenge = 'ThirtyDaysPython'
print(challenge.isalnum()) # True

challenge = '30DaysPython'
print(challenge.isalnum()) # True

challenge = 'thirty days of python'
print(challenge.isalnum()) # False, space is not an alphanumeric character

challenge = 'thirty days of python 2019'
print(challenge.isalnum()) # False

- isalpha(): Checks if all string elements are alphabet characters (a-z and A-Z)

In [ ]:
challenge = 'thirty days of python'
print(challenge.isalpha()) # False, space is once again excluded
challenge = 'ThirtyDaysPython'
print(challenge.isalpha()) # True
num = '123'
print(num.isalpha())      # False


- isdecimal(): Checks if all characters in a string are decimal (0-9)

In [ ]:
challenge = 'thirty days of python'
print(challenge.isdecimal())  # False
challenge = '123'
print(challenge.isdecimal())  # True
challenge = '\u00B2'
print(challenge.isdigit())   # False
challenge = '12 3'
print(challenge.isdecimal())  # False, space not allowed

- isdigit(): Checks if all characters in a string are numbers (0-9 and some other unicode characters for numbers)

In [ ]:
challenge = 'Thirty'
print(challenge.isdigit()) # False
challenge = '30'
print(challenge.isdigit())   # True
challenge = '\u00B2'
print(challenge.isdigit())   # True

- isnumeric(): Checks if all characters in a string are numbers or number related (just like isdigit(), just accepts more symbols, like ½)

In [ ]:
num = '10'
print(num.isnumeric()) # True
num = '\u00BD' # ½
print(num.isnumeric()) # True
num = '10.5'
print(num.isnumeric()) # False


- isidentifier(): Checks for a valid identifier - it checks if a string is a valid variable name

In [ ]:
challenge = '30DaysOfPython'
print(challenge.isidentifier()) # False, because it starts with a number
challenge = 'thirty_days_of_python'
print(challenge.isidentifier()) # True



- islower(): Checks if all alphabet characters in the string are lowercase

In [ ]:
challenge = 'thirty days of python'
print(challenge.islower()) # True
challenge = 'Thirty days of python'
print(challenge.islower()) # False


- isupper(): Checks if all alphabet characters in the string are uppercase

In [ ]:
challenge = 'thirty days of python'
print(challenge.isupper()) #  False
challenge = 'THIRTY DAYS OF PYTHON'
print(challenge.isupper()) # True


- join(): Returns a concatenated string

In [ ]:
web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = ' '.join(web_tech)
print(result) # 'HTML CSS JavaScript React'


- strip(): Removes all given characters starting from the beginning and end of the string

In [ ]:
challenge = 'thirty days of pythoonnn'
print(challenge.strip('noth')) # 'irty days of py'


- replace(): Replaces substring with a given string

In [ ]:
challenge = 'thirty days of python'
print(challenge.replace('python', 'coding')) # 'thirty days of coding'


- split(): Splits the string, using given string or space as a separator

In [ ]:
challenge = 'thirty days of python'
print(challenge.split()) # ['thirty', 'days', 'of', 'python']
challenge = 'thirty, days, of, python'
print(challenge.split(', ')) # ['thirty', 'days', 'of', 'python']


- title(): Returns a title cased string

In [ ]:
challenge = 'thirty days of python'
print(challenge.title()) # Thirty Days Of Python

- swapcase(): Converts all uppercase characters to lowercase and all lowercase characters to uppercase characters

In [ ]:
challenge = 'thirty days of python'
print(challenge.swapcase())   # THIRTY DAYS OF PYTHON
challenge = 'Thirty Days Of Python'
print(challenge.swapcase())  # tHIRTY dAYS oF pYTHON


- startswith(): Checks if String Starts with the Specified String

In [ ]:
challenge = 'thirty days of python'
print(challenge.startswith('thirty')) # True

challenge = '30 days of python'
print(challenge.startswith('thirty')) # False


🌕 You are an extraordinary person and you have a remarkable potential. You have just completed day 3 challenges and you are four steps a head in to your way to greatness. Now do some exercises for your brain and muscles.